<!-- view a single forum, which shows subforums and threads -->
<!-- the first div with class sub-forum-box won't appear if there are no sub forums -->
<!-- the first div with class thread-bar is repeeated for each thread in the forum -->
<!-- the first div with the class thread-page-button is repeated for each detected page -->

<div class="forum-page-title"></div>
<div class="forum-page-breadcrumbs"></div>
<div class="sub-forum-box">
    <div class="sub-forum-header">
        <div class="sub-forum-threads">Threads</div>
        <div class="sub-forum-posts">Posts</div>
    </div>
    <div class="forum-title-bar">
        <div class=forum-bar-text>
            <a class="forum-bar-title"></a>
            <div class="forum-bar-sub">Subforums: <a class="sub-forum-bar"></a></div>
        </div>
        <div class="forum-bar-stats">
            <div class="forum-bar-threads"></div>
            <div class="forum-bar-posts"></div>
        </div>
    </div>
</div>
<div class="thread-box">
    <div class="thread-header">
        <div class="thread-posts-header">Posts</div>
        <div class="thread-views-header">Views</div>
        <div class="thread-last-post-header">Last Poster</div>
    </div>
    <div class="thread-bar">
        <div class="thread-text">
            <a class="thread-title"></a>
            <div class="thread-pages">
                <a class="thread-page-button"></a>
            </div>
        </div>
        <div class="thread-stats">
            <div class="thread-posts"></div>
            <div class="thread-views"></div>
            <a class="thread-last-post"></a>
        </div>
    </div>
</div>