<!-- show groups, which contain forums -->
<!-- the first div with class forum-group is repeated for each group -->
<!-- the first div with class forum-bar is repeated for each forum in each group -->
<!-- divs with class forum-bar-sub only appear if the forum has subforums -->
<!-- the first div with class sub-forum-bar is repeated for each subforum directly under each forum -->
<!-- the first divs with classes forum-group-title, forum-bar-title, sub-forum-bar, forum-bar-threads, and forum-bar-posts are autofilled -->

<div class="forum-group">
    <div class="forum-group-title">
        <div class="forum-group-stats">
            <div class="forum-group-threads">Threads</div>
            <div class="forum-group-posts">Posts</div>
        </div>
    </div>
    <div class="forum-bar">
        <div class=forum-bar-text>
            <a class="forum-bar-title"></a>
            <div class="forum-bar-sub">Subforums: <a class="sub-forum-bar"></a></div>
        </div>
        <div class="forum-bar-stats">
            <div class="forum-bar-threads"></div>
            <div class="forum-bar-posts"></div>
        </div>
    </div>
</div>